<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AnimalSoundGame">
        <activity
            android:name=".ui.HomeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".games.animal.AnimalGameActivity"
            android:exported="false" />
        <activity
            android:name=".games.schulte.SchulteGameActivity"
            android:exported="false" />
        <activity
            android:name=".games.schulte.SchulteComposeActivity"
            android:exported="false" />
        <activity
            android:name=".games.memory.MemoryGameActivity"
            android:exported="false" />
        <activity
            android:name=".ui.SettingsActivity"
            android:exported="false" />
    </application>

</manifest>
